body {
  clear: both;
  display: block;
  padding: 0;
  margin: 0;
}
body * {
  color: #000000;
  text-decoration: none;
  vertical-align: top;
  text-align: left;
  text-align: start;
  line-height: 130%;
  font-size: 17px;
  font-family: Roboto, arial, helvetica, sans-serif;
}
@media screen and (min-width: 1701px) {
  body * {
    font-weight: 200;
  }
}
h1,
h2,
h3,
h4 {
  clear: both;
  display: block;
  font-weight: 400;
  font-family: Oranienbaum, arial, helvetica, sans-serif;
  text-align: center;
}
h1 {
  padding: 30px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 33px;
    line-height: 125%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  h1 {
    font-size: 33px;
    line-height: 125%;
  }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  h1 {
    font-size: 32px;
    line-height: 125%;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 32px;
    line-height: 125%;
  }
}
h2 {
  padding: 30px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 32px;
    line-height: 125%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  h2 {
    font-size: 32px;
    line-height: 125%;
  }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  h2 {
    font-size: 31px;
    line-height: 125%;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 31px;
    line-height: 125%;
  }
}
h3 {
  padding: 30px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 31px;
    line-height: 125%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  h3 {
    font-size: 31px;
    line-height: 125%;
  }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  h3 {
    font-size: 30px;
    line-height: 125%;
  }
}
@media screen and (max-width: 640px) {
  h3 {
    font-size: 30px;
    line-height: 125%;
  }
}
h4 {
  padding: 20px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 27px;
    line-height: 125%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  h4 {
    font-size: 27px;
    line-height: 125%;
  }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  h4 {
    font-size: 26px;
    line-height: 125%;
  }
}
@media screen and (max-width: 640px) {
  h4 {
    font-size: 26px;
    line-height: 125%;
  }
}
table,
div,
span,
img,
ul,
ul li,
ol {
  padding: 0;
  margin: 0;
}
ul,
ul li,
ol {
  list-style: none;
}
p {
  padding: 0;
  margin: 3px 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #FF8000;
}
a.c-blue {
  color: #0077B0;
}
a.c-blue:hover {
  color: #FF8000;
}
.fs21 {
  font-size: 21px;
}
.fs23 {
  font-size: 23px;
}
.fs25 {
  font-size: 25px;
}
.fs27 {
  font-size: 27px;
}
.fs29 {
  font-size: 29px;
}
.htmltext {
  clear: both;
  display: block;
  width: 99%;
  padding: 10px 0;
  margin: 0;
}
.c-green {
  color: #5ead33;
}
.c-blue {
  color: #0077B0;
}
.clb {
  clear: both;
  display: block;
}
.fl {
  display: block;
  float: left;
}
.fr {
  display: block;
  float: right;
}
.ser {
  color: #7a7a7a;
}
.bgc_green {
  background-color: #5ead33;
}
.bgc-blue {
  background-color: #E4F3FC;
}
.bgc-red {
  background-color: #ffffff;
}
.center {
  text-align: center;
}
#bodyContainer {
  clear: both;
  display: block;
  background-color: #fff;
}
@media screen and (min-width: 1501px) {
  #bodyContainer {
    width: 1500px;
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  #bodyContainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  #bodyContainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
body {
  background: #f9f9f9;
  padding: 0;
  margin: 0;
}
.navContainer {
  background: #141414;
  box-sizing: border-box;
  align-self: stretch;
  top:0;
  z-index:1000;
}
@media screen and (min-width: 1501px) {
  .navContainer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .navContainer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  .navContainer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    margin: 0;
  }
}
.navContainer li {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  color: #EBEBEB;
  align-self: stretch;
}
.navContainer li a.link {
  color: #EBEBEB;
  padding: 16px 12px;
  margin: 0 auto;
}
.navContainer li.nav-sozseti {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 12px 20px 0 0;
  margin: 0;
  flex-grow: 1;
}
.icon-oo {
  display: block;
  float: right;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 3px;
  background: url("images/oo.png") no-repeat;
  background-position: 0 0;
}
.icon-oo:hover {
  background-position: 0 -25px;
}
.icon-ff {
  display: block;
  float: right;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 3px;
  background: url("images/ff.png") no-repeat;
  background-position: 0 0;
}
.icon-ff:hover {
  background-position: 0 -25px;
}
.icon-ww {
  display: block;
  float: right;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 3px;
  background: url("images/ww.png") no-repeat;
  background-position: 0 0;
}
.icon-ww:hover {
  background-position: 0 -25px;
}
.logotip {
  padding: 0;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/bg-main.png");
  position: relative;
}
@media screen and (min-width: 1501px) {
  .logotip {
    clear: both;
    display: block;
    width: 100%;
    height: 600px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .logotip {
    clear: both;
    display: block;
    width: 100%;
    height: 600px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .logotip {
    clear: both;
    display: block;
    width: 100%;
    height: 500px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .logotip {
    clear: both;
    display: block;
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  .logotip {
    clear: both;
    display: block;
    width: 100%;
    height: 300px;
  }
}
.logotip div.logo-new {
  position: absolute;
  padding: 0;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/logo-new.png");
  z-index: 66;
}
@media screen and (min-width: 1501px) {
  .logotip div.logo-new {
    display: block;
    width: 212px;
    height: 147px;
    top: 120px;
    left: 60px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .logotip div.logo-new {
    display: block;
    width: 212px;
    height: 147px;
    top: 100px;
    left: 60px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .logotip div.logo-new {
    display: block;
    width: 188px;
    height: 130px;
    top: 80px;
    left: 60px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .logotip div.logo-new {
    display: block;
    width: 150px;
    height: 105px;
    top: 50px;
    left: 50px;
  }
}
@media screen and (max-width: 500px) {
  .logotip div.logo-new {
    display: block;
    width: 135px;
    height: 95px;
    top: 50px;
    left: 30px;
  }
}
.section {
  background: #FFF;
  clear: both;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.section div.section-top {
  clear: both;
  display: block;
  width: 100%;
  padding: 0 12% 30px 12%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.section div.section-top div.poloska {
  width: 200px;
  height: 22px;
  position: absolute;
  color: #fff;
  border: 1px solid red;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 0;
  margin: 0;
  background: red;
  text-align: center;
  z-index: 66;
  top: 20px;
  left: -50px;
  box-shadow: 0 0 5px 2px #888888;
}
.section-bg {
  padding: 0;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/section-bg.jpg");
}
@media screen and (min-width: 1501px) {
  .section-bg {
    clear: both;
    display: block;
    width: 100%;
    height: 600px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .section-bg {
    clear: both;
    display: block;
    width: 100%;
    height: 600px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .section-bg {
    clear: both;
    display: block;
    width: 100%;
    height: 500px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .section-bg {
    clear: both;
    display: block;
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  .section-bg {
    clear: both;
    display: block;
    width: 100%;
    height: 300px;
  }
}
ul.ul-text {
  padding: 30px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 1501px) {
  ul.ul-text {
    clear: both;
    display: block;
    width: 70%;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  ul.ul-text {
    clear: both;
    display: block;
    width: 75%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  ul.ul-text {
    clear: both;
    display: block;
    width: 80%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  ul.ul-text {
    clear: both;
    display: block;
    width: 88%;
  }
}
@media screen and (max-width: 500px) {
  ul.ul-text {
    clear: both;
    display: block;
    width: 93%;
  }
}
ul.ul-text > li {
  clear: both;
  display: block;
  padding: 12px 0;
  margin: 0;
}
@media screen and (max-width: 500px) {
  ul.ul-text > li {
    text-align: justify;
  }
}
.zapis-cont-2 {
  clear: both;
  display: block;
  width: 96%;
  padding: 12px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.zapis-cont-2 div.zapis-section-2 {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 0;
  margin: 0;
}
div.zapis-section-2 ul.zapis-box-2 {
  display: block;
  padding: 10px 2%;
  margin: 20px 0;
  border: 1px solid #C0C0C0;
  width: 280px;
  box-sizing: border-box;
}
div.zapis-section-2 ul.zapis-box-2 > li {
  clear: both;
  display: block;
  padding: 2px 0;
  margin: 0;
}
div.zapis-section-2 ul:nth-child(2):hover {
  box-shadow: 0 0 5px 2px #888888;
}
.kniga {
  padding: 0;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/kniga.jpg");
}
@media screen and (min-width: 1501px) {
  .kniga {
    clear: both;
    display: block;
    width: 100%;
    height: 700px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .kniga {
    clear: both;
    display: block;
    width: 100%;
    height: 560px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .kniga {
    clear: both;
    display: block;
    width: 100%;
    height: 460px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .kniga {
    clear: both;
    display: block;
    width: 100%;
    height: 360px;
  }
}
@media screen and (max-width: 500px) {
  .kniga {
    clear: both;
    display: block;
    width: 100%;
    height: 260px;
  }
}
.stilistContainer {
  padding: 12px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1501px) {
  .stilistContainer {
    clear: both;
    display: block;
    width: 70%;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .stilistContainer {
    clear: both;
    display: block;
    width: 80%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  .stilistContainer {
    clear: both;
    display: block;
    width: 90%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .stilistContainer {
    clear: both;
    display: block;
    width: 96%;
  }
}
@media screen and (max-width: 500px) {
  .stilistContainer {
    clear: both;
    display: block;
    width: 99%;
  }
}
div.stilist-cont {
  padding: 0;
  margin: 0 0 30px 0;
}
@media screen and (min-width: 1501px) {
  div.stilist-cont {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    height: 460px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1500px) {
  div.stilist-cont {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    height: 460px;
  }
}
@media screen and (max-width: 600px) {
  div.stilist-cont {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
}
div.stilist-cont a.stilist-icon {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1501px) {
  div.stilist-cont a.stilist-icon {
    display: block;
    float: left;
    width: 300px;
    height: 450px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  div.stilist-cont a.stilist-icon {
    display: block;
    float: left;
    width: 300px;
    height: 450px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
  div.stilist-cont a.stilist-icon {
    display: block;
    float: left;
    width: 300px;
    height: 450px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  div.stilist-cont a.stilist-icon {
    display: block;
    float: left;
    width: 300px;
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  div.stilist-cont a.stilist-icon {
    display: block;
    float: left;
    width: 300px;
    height: 450px;
  }
}
div.stilist-cont a.stilist-icon > img {
  display: block;
  width: inherit;
  height: inherit;
}
div.stilist-cont div.stilist-text {
  flex-grow: 1;
  box-sizing: border-box;
}
@media screen and (min-width: 1501px) {
  div.stilist-cont div.stilist-text {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    height: 460px;
    padding: 0 0 0 80px;
    margin: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 1500px) {
  div.stilist-cont div.stilist-text {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    height: 460px;
    padding: 0 0 0 30px;
    margin: 0;
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  div.stilist-cont div.stilist-text {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 5% 0 5%;
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  div.stilist-cont div.stilist-text {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 2% 0 2%;
    margin: 0;
    text-align: justify;
  }
}
.zapis-cont {
  clear: both;
  display: block;
  width: 90%;
  padding: 30px 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}
table.iksweb {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  background: #fff000;
}
table.iksweb,
table.iksweb td,
table.iksweb th {
  border: 1px solid #fdc300;
  text-align: center;
}
table.iksweb p,
table.iksweb td p,
table.iksweb th p {
  text-align: center;
}
table.iksweb td,
table.iksweb th {
  padding: 21px 12px;
  vertical-align: middle;
  font-size: 21px;
}
table.iksweb td.dlinabox,
table.iksweb th.dlinabox {
  width: 175px;
}
table.iksweb th {
  background: #347c99;
  color: #fff;
  font-weight: normal;
}
.valuta-box {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.valuta-box > span {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0 6px;
  border: 1px solid #000;
  text-align: center;
}
.knopka {
  clear: both;
  display: inline-block;
  width: 120px;
  padding: 12px 0;
  margin: 0;
  text-decoration: none;
  background-color: #000;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff !important;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 23px;
}
.knopka:hover {
  color: #fff;
  text-decoration: none;
}
.knopka-2 {
  clear: both;
  display: inline-block;
  width: 140px;
  padding: 12px 0;
  margin: 0 auto;
  text-decoration: none;
  background-color: red;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff !important;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.knopka-2:hover {
  color: #fff;
  text-decoration: none;
}
.footer * {
  color: #EBEBEB;
}
.footer {
  background: #141414;
  box-sizing: border-box;
}
@media screen and (min-width: 1501px) {
  .footer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1500px;
    padding: 30px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1500px) {
  .footer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px;
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  .footer {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 5px;
    margin: 0;
  }
}
#top {
  background: url(/images/top_bg.png) no-repeat top left;
  cursor: pointer;
  height: 41px;
  width: 34px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  background-size: contain;
}
