@charset "utf-8";

* {
	margin: 0;
 	padding: 0;
 	outline: 0;
 	webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
  }

*::before,
*::after {

  	box-sizing: border-box;
}


body {

	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	background:#000000;
	color: #000;
	-webkit-tap-highlight-color: transparent;

  }

html {

	height:100%;
}

h1, h2, h3, h4, h5, h6 {

	font-family: Oranienbaum, serif;
	font-weight: 600;
	font-size:22px;
	color: inherit;
	padding-top:20px;
	padding-bottom: 20px;
	text-transform:uppercase;

}

img {
	max-width: 100%;
    height: auto;

}




div.site-container {

  width:100%;
  height:100%;


}

div.site-page {
	width:1500px;
	max-width:1500px;
	background:#FFFFFF;
	margin:0 auto;
	padding-bottom:50px;
	line-height:28px;
	font-family: Roboto, Arial, Verdana, Tahoma, Helvetica, sans-serif !important;

}

div.site-page .section-1 {


	/*margin:0 auto;*/

}

div.site-page .section-1 * {
	text-align:center;

}



div.site-page .section-1 .text {

	padding-left:20%;
	padding-right:20%;
	padding-bottom:20px;



}

div.site-page .section-1 p {

    font-family: Roboto, sans-serif;
	font-size:18px;
	color:#606060;

}

div.site-page .section-1 img {



}

div.site-page .section-1 figure {

    text-align:center;
    color:#B6B6B6;
    font-size:14px;

}

div.site-page .section-2 * {



}

div.site-page .section-2 .text {

	padding-left:20%;
	padding-right:20%;
	padding-bottom:20px;



}

div.site-page .section-2 p {

	margin-bottom:20px;

}

div.site-page .section-2 .otstup-left {

	padding-top:3%;
	padding-left:10%;
	padding-bottom:3%;

}

div.site-page .section-2 img {

	display:block;
	margin: 0 auto;

}

div.site-page .section-3 .text h3 {

	text-align:center;

}

div.site-page .text .service-2-cont {

	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
    align-items:stretch;

}

div.site-page .text .service-2-cont
.service-2-box {

	display:flex;
	flex-direction:column;
	justify-content:center;
    width:25%;
    max-width:25%;
	height:max-content;
	border:2px solid #EAEAEA;
	padding-top:3%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:3%;

}

div.site-page .text .service-2-cont
.service-2-box .title {
	text-align:center;

}

div.site-page .text .service-2-cont
.service-2-box .title span {

	font-size:16px;
	font-weight:bold;

}

div.site-page .text .service-2-cont
.service-2-box .title div {

	font-size:20px;
	font-weight:bold;

}

div.site-page .text .service-2-cont
.service-2-box .opisanie {

	text-align:left;


}

div.site-page .text .service-2-cont
.service-2-box .opisanie span {

	font-size:16px;
	font-weight:600;
	color:#A5A5A5;


}


div.site-page .text .service-2-cont
.service-2-box .opisanie div {

	font-size:16px;
	font-weight:600;
	color:#353535;


}


div.site-page .text .service-2-cont
.service-2-box .opisanie .price-cont {

	text-align:center;
	padding-top:15%;

}

div.site-page .text .service-2-cont
.service-2-box .opisanie .price-cont * {

	padding-bottom:10%;

}

div.site-page .text .service-2-cont
.service-2-box .opisanie .price-cont .cena-old {

	font-size:24px;
	font-weight:400;
	color:#A5A5A5;



}

div.site-page .text .service-2-cont
.service-2-box .opisanie .price-cont .cena-new {

	font-size:28px;
	font-weight:600;
	color:#000000;



}

div.site-page .text .service-2-cont
.service-2-box .opisanie .price-cont .zakazat {

	display:block;
	text-decoration:none;
	width:250px;
	height:50px;
	background:#FF003C;
	color:#FDC7CD;
	font-size:20px;
	border-radius:5px;
	text-align:center;
	padding-top:10px;



}


div.site-page .section-4 .text {

	padding-top:5%;

}

div.site-page .section-4 .text {

	padding-left:20%;
	padding-right:20%;
	padding-bottom:20px;



}

div.site-page .section-4 .text .rukovodstvo-box {

	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	padding-top:50px;
	padding-bottom:50px;


}

div.site-page .section-4 .text .rukovodstvo-box img {

	width:300px;
	max-width:300px;

}

div.site-page .section-4 .text .rukovodstvo-box .opisanie {

	width:60%;
	max-width:60%;
	padding-left:30px;

}
